* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #000000;
    display: flex;
}

.header-logo {
    color: white;
    font-weight: 900;
    font-size: 24px;
    margin-top: 56px;
    margin-left: 12%;
}

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .main-welcome {
    background-color: #000000;
    text-align: center;
    padding: 200px 0 410px 0;
}

main .main-welcome p {
    color: #999999;
    font-size: 20px;
}


main .main-welcome h1 {
    color: #999999;
    font-size: 44px;
}

.mycompany {
    color: #fcac45;
}

.wrapper {
    width: 76%;
    margin: 0 auto;
}

main .main-about {
    display: flex;
    padding: 100px 0;
}

.about-right {
    margin-left: 175px;
}

.about-right h1{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
}

.about-right p{
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}

.about-right li{
    background: url("img/mark.png") 0 no-repeat;
    padding-left: 25px;
    margin-top: 10px;
}

.about-right li i {
    color: #6c6c6c;
}

.mw-100 {
    min-width: 100%;
}




.our-team {
    background-color: black;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #fff;
}

.our-team h1, .main-services h1, .main-clients h1, .main-testimonials h1 {
    position: relative;
    font-size: 44px;
    padding-bottom: 30px;
    margin-bottom: 55px;
}

.our-team h1:after, .main-services h1:after, .main-clients h1:after, .main-testimonials h1:after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #fcac45;
    right: 0;
    margin: 0 auto;
    display: block;
}

.cards {
    display: flex;
}

.card {
    margin: 30px;
}

.photo {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: 20px auto;
}

.name {
    font-size: 20px;
}

.position {
    margin-bottom: 20px;
    font-size: 16px;
}

.about-position {
    font-size: 14px;
}

.main-services {
    padding: 100px 0;
    text-align: center;
}
.main-services i {
    color: #6c6c6c;
}

.services-card {
    margin-top: 80px;
}

.services-cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.services-card h4 {
    margin: 30px 0 20px 0;
    font-weight: 900;
    font-size: 25px;
}

.services-card p {
    font-size: 14px;
    color: #6c6c6c;
}

.main-clients {
    padding: 90px 0 200px 0;
    color: white;
    background-color: #000000;
    text-align: center;
}

.main-clients img {
    margin: 15px;
}

.main-testimonials {
    padding: 90px 0 200px 0;
    color: white;
    background-color: #000000;
    text-align: center;
}

.main-testimonials p {
    margin: 40px;
}




@media screen and (max-width: 1300px) {
    nav {
        margin-left: 20%;
    }
    main .main-welcome {
        padding: 50px 0;
    }
    main .main-welcome p {
        font-size: 14px;
    }
    main .main-welcome h1 {
        font-size: 25px;
    }
    .mw-100 {
        max-width: 100%;
    }
    .main-about {
        flex-direction: column;
    }
    .about-right {
        text-align: center;
        margin-left: 0;
    }
    .about-right li {
        text-align: left;
    }
    .about-right h1 {
        margin-top: 20px;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .cards {
        flex-direction: column;
    }
    .services-cards {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1105px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: white;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        right: -200px;
    }
    .services-cards {
        grid-template-columns: auto;
    }
}


